.car-park {
  z-index: 1;
  margin-left: 3rem;
  width: 500px;
  height: 500px;
  background-color: grey;
  outline: 0.5rem solid black;
}

.bus {
  display: flex;
  z-index: 2;
  width: 100px;
  height: 100px;
  transition: all 0.2s;

  align-items: center;
}

img {
  width: 100%;
}
